.footer{
    padding: 10rem 10rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .footer-logo-box{
        width: 30rem;

    }
    .footer-logo{
       
        animation: rotateinY 1.2s linear infinite; 
        text-align: center;
       
    }
    .footer-content{
        font-size: 2.5rem;
        color: $color-white;
        margin: 5rem 0 0;
        font-weight: 300;
    }
    .footer-link{
        text-decoration: none;
        color: $color-light-red;
        font-weight: bold;
        font-size: 2.5rem;
        &:hover{
            color: $color-white;
        }
    }
}