.pricing-section{
    padding: 20rem 0 10rem;
    background-image: linear-gradient(to right bottom, rgba(#E6CCA9,.8),rgba(#FF6D6D,8)),url("../img/computer-2.jpg");
    background-size: cover;
    transform: skewY(-3deg) translateY(-4rem);
    text-align: center;
    @include respond(small-screen){
        padding: 10rem 0 10rem;
    }
    &>*{
        transform: skewY(3deg);
    }
    .pricing-col{
        margin-bottom: 3rem;
    }
    
    .pricing-card{
        width: 90%;
        background-color: $color-grey-light;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1rem;
        box-shadow: 0 2rem 3rem rgba($color-black,.5);

        &-basic{
            border:2px solid #5584AC;
        }
        &-gold{ 
            border:2px solid #F3950D;
        }
        &-premium{
            border:2px solid #4C0070;
        }
        &-customize{
            border:2px solid #116530;
        }

        &-body{
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.7;
            color: $color-grey-dark;
            padding: 1.5rem 3rem;
            @include respond(x-large-screen){
                font-size: 1.7rem;
            }
            @include respond(large-screen){
                font-size: 2rem;
            }
            @include respond(small-screen){
                font-size: 2.2rem;
            }
        }

      
    }
    .pricing-card-heading{
        padding-top: 2rem;
        font-size: 3rem;
        // text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 2px;
        &-basic{
            background-image: linear-gradient(to right,#5584AC,#064663);
        }
        &-gold{ 
            background-image: linear-gradient(to right,#FFCE45,#F3950D);
        }
        &-premium{
            background-image: linear-gradient(to right,#D47AE8,#4C0070);
        }
        &-customize{
            background-image: linear-gradient(to right,#519259,#116530);
        }

        @include respond(x-large-screen){
            font-size: 3.6rem;
        }
        @include respond(medium-screen){
            font-size: 4rem;
        }
        @include respond(small-screen){
            font-size: 5.5rem;
        }
    }
    .price{
        font-weight: 300;
        font-size: 4rem;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
         background-image: linear-gradient(to right,#519259,#116530);
         @include respond(x-large-screen){
            font-size: 4.5rem;
        }
    }
    .card-btn{
        backface-visibility: hidden;
        font-size: 1.8rem;
        color: $color-white;
        border-radius: 1.3rem;
        padding: 1rem;
        margin: 3rem 0;
        box-shadow: 0 .5rem 1rem rgba($color-black,.4);
        transition: all .4s ease-in-out;

        @include respond(x-large-screen){
            font-size: 2.1rem;
        }
        @include respond(medium-screen){
            font-size: 2.6rem;
            padding: 1.5rem;
        }

        &:hover{
            transform: scale(1.01) translateY(-.5rem);
            box-shadow: 0 1rem 2rem rgba($color-black,.4) ;
            transition: all .4s ease-in-out;
        }
        &:active{
            transform: scale(.99) translateY(0);
            box-shadow: 0 .5rem 1rem rgba($color-black,.5);

        }

        i{
            font-size: 2rem;
        }

        &-basic{
            background-image: linear-gradient(to right,#5584AC,#064663);
        }
        &-gold{ 
            background-image: linear-gradient(to right,#FFCE45,#F3950D);
        }
        &-premium{
            background-image: linear-gradient(to right,#D47AE8,#4C0070);
        }
        &-customize{
            background-image: linear-gradient(to right,#519259,#116530);
        }
    }

}