
.section-description{
    text-align: center;
    background-image: linear-gradient(to right bottom, $color-dark-red,$color-light-red);
    background-size: cover;
    padding: 10rem 7rem;
    transform: skewY(-3deg) translateY(-4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(small-screen){
        padding:10rem 0;
    }


    &>*{
        transform: skewY(3deg);
    }
    
    .description-container{
        width: 70%;
        background-color: $color-white;
        border-left: 1rem solid #22577E;
        border-radius: .5rem;
        @include respond(small-screen){
            width: 90%;
        }
        @include respond(medium-screen){
            width: 80%;
        }
        
        
        .description-heading{
            color: $color-dark-red;
            font-size: 3rem;
            padding-top: 2rem;
            font-weight: bold;
            @include respond(x-large-screen){
             font-size: 3.5rem;
            }
            @include respond(large-screen){
                font-size: 3.7rem;
            }
    
             

        }
        .description-body{
            font-size: 1.5rem;
            padding: 1.5rem 10rem 3rem;
            font-weight: 500;
            color: $color-grey-dark;

            @include respond(x-large-screen){
                padding: 1.5rem 6rem 2rem;
                line-height: 1.7;
                font-size: 1.7rem;
            }
            @include respond(large-screen){
               font-size: 2rem;
               padding: 1.5rem 4rem 2rem;
            }
            @include respond(medium-screen){
                font-size: 1.8rem;
               line-height: 1.6;
             }
             @include respond(small-screen){
                font-size: 2.2rem;
               line-height: 1.5;
               padding: 1rem 2rem 2rem;
             }
             @media only screen and (max-width:25em){
                 font-size:2rem;
             }
        }
    }

}
