
.section-about{
    background-image: linear-gradient(to right bottom, rgba(#fff,.6),rgba($color-dark-red,.6));
    padding: 10rem 10rem 15rem;
    text-align: center;

    @include respond(small-screen){
        padding: 7rem 5rem 10rem;
    }


    .section-intro{
        align-self: flex-start;
    }
   
    .img-container{
        width: 70%;
        border-radius: 2rem;
        box-shadow: 0 .5rem .5rem rgba($color-dark-red,.6);
        transition: all .5s ease-in-out;
        animation: moveInRight 1s ease-in-out ;

        @include respond(x-large-screen){
            width: 80%;
        }
        @include respond(large-screen){
            width: 90%;
        }

        img{
            border-radius: 2rem;
            outline-offset: 5px;
        }
        img:hover{
            outline: 5px solid $color-grey-light;
            transform: scale(1.01);
        }
        &:hover{
            transform: scale(1.01) translateY(-1rem);
            box-shadow: 0 1rem 1rem rgba($color-dark-red,.6);
        }
    }
}

.footer{
    text-align: center;
    background: $color-black;
    background-image:linear-gradient(
62deg, #3a3d40 0%, #181719 100%);
}