
.heading-primary-container{
    width: 90%;
    text-align: center;
    border-radius:3rem;
    padding: 3rem 4rem;
    background-image:  linear-gradient(to right,#A9333A,$color-dark-red);
    margin: 3rem auto 5rem;
    box-shadow: 0 .5rem .5rem rgba($color-dark-red,.6);
    transition: all .4s ease-in-out;
    animation: moveInLeft 1s ease-in-out ;
    &:hover{
        transform: scale(1.01) translateY(-1rem);
        box-shadow: 0 1rem 1rem rgba($color-dark-red,.6);
    }
}
.heading-primary{
    font-size: 3.5rem;
    color: $color-white;
    letter-spacing: 1.3px;

    @include respond(large-screen){
        font-size: 3rem
    }

    @media only screen and (max-width:25em){
        letter-spacing: 1; 
        font-size: 3rem;
    }

    
}
